@media (min-width: 768px) and (max-width: 1024px) {
	/* TOP BAR ELEMENTS */

	/* HOME */

	.intro {
		margin-top: 40%;
		font-size: 45px;
		line-height: 55px;
	}

/* ABOUT US */

	.big-intro {
		text-align: center !important;
	}

	.about-us .column {
		margin-bottom: 40px;
	}

	.skills {
		margin-bottom: 78px !important;
	}

/* TEAM */

	.team-member .profile-pic {
		width: 128px;
		height: 128px;
	}

/* PURCHASE NOW */

	.purchase-now {
		margin: auto;
		text-align: center !important;
	}

	.purchase-now h3 {
		margin-bottom: 20px;
		text-align: center;
	}

	.purchase-now .button {
		float: none;
	}

/* FOOTER */

	.company-details {
		padding-top: 0;
		padding-bottom: 33px;
	}

	.copyright {
		width: 100%;
		padding-top: 33px;
		padding-bottom: 33px;
	}
}

@media (max-width: 767px) {
	.bs-navbar-collapse {
		border: 0;
	}

	.navbar-inverse .navbar-nav {
		padding-left: 10px;
		line-height: normal;
		text-align: center;
	}

	.navbar-inverse .navbar-nav > li {
		display: inline-block;
		margin-bottom: 0;
	}

/* HOME */

	.header {
		min-height: inherit;
		padding-bottom: 75px;
	}

	.intro {
		font-size: 40px;
		line-height: 55px;
	}

/* ABOUT US */

	.big-intro {
		font-size: 8vw !important;
		text-align: center !important;
	}

	.about-us .column {
		margin-bottom: 40px;
	}

	.skills {
		margin-bottom: 78px !important;
	}

/* PURCHASE NOW */

	.purchase-now {
		margin: auto;
		text-align: center !important;
	}

	.purchase-now h3 {
		margin-bottom: 20px;
		text-align: center;
	}

	.purchase-now .button {
		float: none;
	}

/* FOOTER */

	footer {
		padding-top: 40px;
	}

	.company-details {
		padding-top: 0;
		padding-bottom: 33px;
	}

	.copyright {
		width: 100%;
		padding-top: 33px;
		padding-bottom: 33px;
	}
}

@media (max-width: 480px) {
	/* HOME */

	.intro {
		margin-top: 60%;
		font-size: 6.5vw;
		line-height: 6vh;
	}

	h2 {
		font-size: 6.5vw !important;
	}

	.other-focus-list ul li {
		display: block;
		margin-right: 0;
		text-align: left;
	}
}

@media only screen and (max-width: 320px) {
	.intro {
		font-size: 7vw;
		line-height: 25px;
	}

	.client-list ul li {
		display: block;
	}
}
