.customize-control-widget_form .widget-control-save {
	display: block !important;
}

#customize-control-zerif_email_icon img,
#customize-control-zerif_phone_icon img,
#customize-control-zerif_address_icon img {
	width: auto !important;
}

/* Tooltips */
#customize-theme-controls .customize-pane-child.accordion-section-content#sub-accordion-section-zerif_general_section {
	overflow: visible;
}

.zerif-moreinfo-icon {
	position: relative;
	padding: 0 20px;
	color: #888;
	transition: all 0.3s ease;
}

.zerif-moreinfo-content {
	visibility: hidden;
	position: absolute;
	z-index: 999;
	right: 5%;
	left: 5%;
	margin-top: 4px;
	padding: 15px;
	border-radius: 5px;
	opacity: 0;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
	font-size: 11px;
	line-height: 16px;
	transition: all 0.3s ease;
}

.zerif-moreinfo-icon:after {
	visibility: hidden;
	position: absolute;
	bottom: -4px;
	left: 25px;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	border-left: 5px solid transparent;
	opacity: 0;
	content: "";
	transition: all 0.3s ease;
}

.zerif-moreinfo-icon:hover {
	color: #e96656;
	transition: all 0.3s ease;
}

.zerif-moreinfo-icon:hover:after {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease;
}

.zerif-moreinfo-icon:hover ~ .zerif-moreinfo-content {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease;
}

.zerif-moreinfo-content:hover {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease;
}

.customizer-review-link p {
	margin-bottom: 0;
	font-size: 12px;
}

.customizer-review-link span {
	width: 12px;
	font-size: 12px;
}

.zerif-theme-info {
	text-align: center;
}

.zerif-theme-info hr {
	margin: 10px auto;
}

.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent,
#customize-theme-controls .customize-pane-child.current-section-parent {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
