.customize-control-widget_form .widget-control-save {
	display:block !important;
}
#customize-control-zerif_email_icon img, #customize-control-zerif_phone_icon img, #customize-control-zerif_address_icon img {
	width: auto !important; 
}

/* Tooltips */
#customize-theme-controls .customize-pane-child.accordion-section-content#sub-accordion-section-zerif_general_section {
    overflow: visible;
}

.zerif-moreinfo-icon {
    transition: all .3s ease;
    position:relative;
    padding: 0 20px;
    color: #888;
}

.zerif-moreinfo-content {
    background: rgba(0, 0, 0, .8);
    transition: all .3s ease;
    border-radius: 5px;
    position: absolute;
    line-height: 16px;
    font-size: 11px;
    margin-top: 4px;
    padding: 15px;
    z-index: 999;
    color: #fff;
    right: 5%;
    left: 5%;
    opacity: 0;
    visibility: hidden;
}

.zerif-moreinfo-icon:after {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid black;
    transition: all .3s ease;
    position: absolute;
    bottom: -4px;
    content: "";
    left: 25px;
    opacity: 0;
    visibility: hidden;
}

.zerif-moreinfo-icon:hover {
    transition: all .3s ease;
    color: #e96656;
}

.zerif-moreinfo-icon:hover:after {
    transition: all .3s ease;
    opacity: 1;
    visibility: visible;
}

.zerif-moreinfo-icon:hover ~ .zerif-moreinfo-content {
    transition: all .3s ease;
    opacity: 1;
    visibility: visible;
}

.zerif-moreinfo-content:hover {
    transition: all .3s ease;
    opacity: 1;
    visibility: visible;
}

.customizer-review-link p {
	font-size: 12px;
	margin-bottom: 0;
}

.customizer-review-link span {
	font-size: 12px;
	width: 12px;
}

.zerif-theme-info {
    text-align: center;
}

.zerif-theme-info hr {
    margin: 10px auto;
}
.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent,
#customize-theme-controls .customize-pane-child.current-section-parent {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}